

.container {
    display: flex;
}
.blogContainer{
    margin-left: 10vh;
}
.blogItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
    
}
.blogContainer h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;

}
.blogItem p{
    font-family: 'Source Code Pro', monospace;
    
}